*.db
*.log
*.map
*.pid
*.py[co]
*.pyc
*.rdb
*.rtf
*.sql
*.sublime-project
*.sublime-workspace
.DS_Store
.idea/
.idea/workspace.xml
.log
.Python/
.rtf
.sql
/lib/
docs/build/*
env/
venv/
include/
node_modules/
run.sh